{% extends "default.html" %}
{% block body %}
<title>Test</title>

{% if each %}
<article>
    <h1>Random Seeds</h1>
    <ol>
        {% for e in each %}
        <li>id: <b><a href="{{url_for('query_each_db')}}\{{e.id}}">{{e.id}}</a></b> record: <i>{{e.random_record}}</i>
        </li>
        {% endfor %}
    </ol>
</article>
{% endif %}

{% if y_each %}
<article>
    <h1>Log activity</h1>
    <ol>
        {% for e_y in y_each %}
        <li>row id: <b><{{e_y.id}}</a></b> session: <i>{{e_y.session_id}}</i> time stamp: {{e_y.time_stamp}}
            <br>{{e_y.message}}
        </li>
        {% endfor %}
    </ol>
</article>
{% endif %}

{% if single %}
<article>
    <h1>Display a single result</h1>
    <ol>
        <li>{{single.id}} <i>{{single.random_record}}</i>
            &nbsp;
            <button type=submit id="del_entry" value="{{single.id}}">Delete</button>
        </li>
    </ol>
    <div id="output"></div>
</article>
{% endif %}

<section>
    <button id="create_random_entry">Create Entry</button>
</section>
<form id="target" method='POST' action="{{ url_for('index') }}"></form>
{% endblock %}