{% extends "default.html" %}
{% block head %}
<script type='text/javascript'>
    $(document).ready(function () {
        $("#create_random_entry").on("click", function () {
            $("#target").submit();
        });
    });

</script>
<script type='text/javascript'>
      $(document).ready(function () {
        $("#del_entry").on("click", function () {
            var id = $(this).val();
            $.ajax({
                url: '{{url_for('del_each_entry')}}',
                data: {data:id},
                type: 'POST',
                success: function(data){
                    $("#output").html(data.output);
                }
            });
        });
    });

</script>
{% endblock %}
{% block body %}
<h1>{{title}}</h1>
{{html_class}}
<p>{{c}}</p>
{% if form %}
<form method="POST" action="{{url_for('html_contents')}}u">
    <table>
        {% for field in form if field.widget.input_type != 'hidden' %}
        <tr>
            <td>{{ field.label }}</td>
            <td>{{ field }}</td>
        </tr>
        {% endfor %}
        <td>
            {{ form.hidden_tag() }}
            <input type="submit" value="Go">
        </td>
    </table>
</form>
{% endif %}

<p>find type - {{ht}}</p>

{% if hc %}
<table>
    <tr>
        <th>ID</th>
        <th>html_content_function</th>
        <th>html_id</th>
        <th>url_page_name</th>
    </tr>
    {% for e in hc %}
    <tr>
        <td>{{e.id}}</td>
        <td>{{ e.html_content_function|safe }}</td>
        {% if e.html_id %}
            <td>{{ e.html_id }}</td>
        {% else %}
            <td>None</td>
        {% endif %}
        <td>{{ e.url_page_name }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}